.bg_dark{
    background-color:#2C3E50;
}
.bg_green{
    background-color:#1ABC9C ;
}
.bg_blue{
    background-color: #3A546D;
}
.star > span{
    font-size: 20px;
}
.star::before , .star::after{
    content: "";
    height: 2px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}
header , header .col{
    height: 300px;
}
.portfolio{
    height: 400px;
}
.portfolio .row div{
    height: 200px;
}
.about , .about .row div , .contact , .contact .col{
    height: 300px;
}
footer{
    height: 200px;
}
.top , .bottom , .top .row div{
    height: 100px;
}