.bg_dark{
    background-color:#2C3E50;
}
.bg_green{
    background-color:#1ABC9C ;
}
.bg_blue{
    background-color: #3A546D;
}
header img{
    width: 20%;
}
.star > span{
    font-size: 20px;
}
header .star::before , header .star::after ,
.about .star::before , .about .star::after {
    background-color: white;
}
.portfolio .star::before , .portfolio .star::after ,
.contact .star::before , .contact .star::after{
    background-color:#2C3E50;
}
.star::before , .star::after{
    content: "";
    height: 2px;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}