.bg_dark {
  background-color: #2c3e50;
}
.bg_green {
  background-color: #1abc9c;
}
.color_green {
  color: #1abc9c;
}
.bg_blue {
  background-color: #3a546d;
}
header img {
  width: 20%;
}
.star > span {
  font-size: 30px;
}
header .star::before,
header .star::after,
#about .star::before,
#about .star::after {
  background-color: white;
}
#portfolio .star::before,
#portfolio .star::after,
#contact .star::before,
#contact .star::after {
  background-color: #2c3e50;
}
.star::before,
.star::after {
  content: "";
  height: 2px;
  width: 100px;
  display: inline-block;
  vertical-align: super;
}
/* media query */
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
